<%- include('header'); -%>

<title>Checkout</title>
<body>
    <%- include('menu'); -%> 
    
    <% if(products) { %>
        <% for(let i = 0; i<products.length; i++) {  %> 
            <h1> <%= JSON.stringify(products[i]) %> </h1>
        <% } %> 
    <% } else { %>
        <h1>Nothing</h1>
    <% } %>
</body>

<%- include('footer'); -%>